APP_NAME=cropshopindia
APP_ENV=local
APP_KEY=base64:+GVy6jakE0BFs0OquycTBUMmViP+op/t74cW5er9J3A=
APP_DEBUG=false
APP_INSTALL=true
APP_LOG_LEVEL=debug
APP_MODE=live
APP_URL=https:\\cropshopindia.com\

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u843891652_zd0DrHKhm_cropshopind
DB_USERNAME=u843891652_zd0DrHKhm_cropshopind
DB_PASSWORD=Kishan@8195*

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=60
QUEUE_DRIVER=sync

AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

REDIS_HOST=cropshopindia.com
REDIS_PASSWORD=null
REDIS_PORT=6379

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

PURCHASE_CODE=aa7f27c2-ded4-4bb5-b5ce-4067d6cf55eb
BUYER_USERNAME=herbanix
SOFTWARE_ID=MzE0NDg1OTc=

SOFTWARE_VERSION=13.1
PUBLIC_STORAGE_PATH=storage
FILESYSTEM_DISK=public
TALLY_URL=http://localhost:9000

DELHIVERY_TOKEN = 7c42a20bc183692c18454fc5dc7e6195e1c04e82

firabase_file =     